.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  color: rgb(252, 253, 251);
  
}

.fighter-preview___left {
  align-items: flex-start;
  color: rgb(252, 253, 251);
}
